{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal" role="form" action="/makeControl/" method="post">
                <legend>发布命令</legend>
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="id_serverNum">服务器</label>
                    <select multiple="multiple" class="form-control" id="id_serverNum"
                            name="serverNum">
                        {% for item in tempList %}
                            <option value='{{ item }}'>{{ item }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_command">命令</label>
                    <input class="form-control" type="text" name="command" id="id_command">
                </div>
                <div class="form-group ">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}