{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <form class="form-horizontal" role="form" action="/uploadFile/" target="_blank" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="uploadFile" id="id_uploadFile">
        <select name="targetContainer" id="id_targetContainer">
            {% for item in tempList %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">上传</button>
        </div>
    </form>
{% endblock %}