{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    {% for item in hosts %}
        <form class="form-horizontal" role="form" action="/hostConnect/" target="_blank" method="post">
            {% csrf_token %}
            <input type="hidden" name="host" id="id_host" value="{{ item.hostIP }}">
            <input type="hidden" name="port" id="id_port" value="{{ item.hostPort }}">
            <div class="text-center">
                <button type="submit" class="btn btn-primary">登录{{ item.hostIP }},{{ item.hostPort }}</button>
            </div>
        </form>
    {% endfor %}
    <p>
        <a href="/modify/">modify user data</a>
    </p>
    <p>
        <a href="/manageServers/">使用服务器管理</a>
    </p>
    <p>
        <a href="/connectRobot/" target="_blank">连接机器人</a>
    </p>
    <img src="http://127.0.0.1:8080/getVideo/">
{% endblock %}